<div class="container">
  <div class="row">
    <div class="h2 py-2"><%= current_admin.company_name %><span class="float-left float-md-none h4">のスタッフ一覧</span></div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <%= link_to 'メインメニューへ戻る', admin_path(current_admin), class:"btn btn-outline-dark btn-sm" %>
          <%= link_to 'スタッフ追加', new_admin_staff_path(current_admin), class:"btn btn-outline-success btn-sm" %>
        </div>
      </div>
    </div>
    <%= render 'layouts/alert' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="table-responsive table-hover">
    <table class="table text-nowrap">
      <thead class="thead-light">
        <tr>
          <th>名前</th>
          <th>所属</th>
          <th>勤怠</th>
          <th>スタッフ情報</th>
        </tr>
      </thead>
      <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <td><%= staff.family_name %>&ensp;<%= staff.given_name %></td>
          <td><%= staff.locale.locale_name %></td>
          <td><%= link_to '勤怠表示', staff_works_path(staff.id), class:"btn btn-outline-info btn-sm" %></td>
          <td><%= link_to '詳細表示', admin_staff_path(current_admin.id,staff.id), remote: true, class: "btn btn-outline-dark btn-sm" %></td>
          <div class="modal fade" id="staffsShow-modal" tabindex="-1" role="dialog" aria-labelledby="staffsShow-modalLabel" aria-hidden="true"></div>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>