<h2>Staff Create</h2>
<%= "所属ロケール: #{@locale.locale_name}" %>
<%= form_for @staff, url:locale_staffs_path do |f| %>
<div class="container">
  <div class="form-group">
    <label>姓</label>
    <%= f.text_field :family_name, class: "form-control", placeholder: "姓" %>
  </div>
  <div class="form-group">
    <label>名</label>
    <%= f.text_field :given_name, class: "form-control", placeholder: "名" %>
  <div class="form-group">
    <label>セイ</label>
    <%= f.text_field :family_name_kana, class: "form-control", placeholder: "セイ" %>
  </div>
  <div class="form-group">
    <label>メイ</label>
    <%= f.text_field :given_name_kana, class: "form-control", placeholder: "メイ" %>
  </div>
    <%= f.submit '追加', class: "btn btn-outline-info" %>
  </div>
</div>
<% end %>