<%= link_to '一覧へ戻る', admin_staffs_path(current_admin), class:"btn btn-outline-dark btn-sm" %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <%= flash[:staff_create_result] %>
    <div class="card" style="width:30rem;">
      <div class="card-header main-color">
        <h4 class="text-center">スタッフの詳細</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">所属：
            <span class="h5"><%= @locale.locale_name %></span>
          </li>
          <li class="list-group-item">名前：
            <span class="h5"><%= @staff.given_name %>&emsp;<%= @staff.family_name %></span>
          </li>
          <li class="list-group-item">名前(カナ)：
            <span class="h5"><%= @staff.given_name_kana %>&emsp;<%= @staff.family_name_kana %></span>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="row float-right">
        <%= link_to '編集', edit_admin_staff_path(current_admin,@staff), class:"btn btn-outline-info" %>
        <%= link_to 'QRコード表示', admin_staff_qrcodes_path(current_admin,@staff), class:"btn btn-outline-success mx-2" %>
        </div>
      </div>
    </div>
  </div>
</div>