<div class="container mt-3">
  <div class="row">
    <h3 class="h3"><%= @staff.family_name %>&ensp;<%= @staff.given_name %>さんの勤怠一覧</h3>
        <%= flash[:work_create_result] %>
        <%= flash[:work_delete_result] %>
  </div>
  <h5 class="p-2">総労働時間<%= totalWorkTime(@works) %></h5>
</div>
<div class="container">
  <div class="row">
    <div class="form-group">
      <% if admin_signed_in? %>
        <%= link_to '戻る', admin_staffs_path(current_admin), class:"btn btn-outline-dark btn-sm" %>
      <% else %>
        <%= link_to '戻る', locale_locale_staffs_path(current_manager.locale_id), class:"btn btn-outline-dark btn-sm" %>
      <% end %>
      <%= link_to '勤怠追加', new_staff_work_path,remote: true, class:"btn btn-outline-success btn-sm" %>
      <div class="modal fade" id="worknew-modal" tabindex="-1" role="dialog" aria-labelledby="worknew-modalLabel" aria-hidden="true"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="table-responsive">
    <table class="table text-nowrap">
      <tbody>
        <tr>
          <th>場所</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>休憩</th>
          <th>戻り</th>
          <th>労働時間</th>
          <th>勤怠修正</th>
        </tr>
      </tbody>
      <tbody>
      <% @works.each do |work| %>
        <tr>
            <td><%= work.locale.locale_name %></td>
            <td><%= l work.in %></td>
            <td><%= l work.out %></td>
            <% if @work.present? %>
              <td><%= l work.work_break.in %></td>
              <td><%= l work.work_break.out %></td>
            <% else %>
              <td>-</td>
              <td>-</td>
            <% end %>
            <td><%= workingHours(work) %></td>
          <td><%= link_to '修正', staff_work_path(@staff.id,work.id), remote: true, class:"btn btn-outline-warning btn-sm" %></td>
          <div class="modal fade" id="work-modal" tabindex="-1" role="dialog" aria-labelledby="work-modalLabel" aria-hidden="true"></div>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>