<div class="container mt-3">
  <div class="row">
    <h3 class="h3"><%= @staff.family_name %>&ensp;<%= @staff.given_name %>さんの勤怠一覧</h3>
        <%= flash[:work_create_result] %>
        <%= flash[:work_delete_result] %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="form-group">
      <% if admin_signed_in? %>
        <%= link_to '戻る', admin_staffs_path(current_admin), class:"btn btn-outline-dark btn-sm" %>
      <% else %>
        <%= link_to '戻る', locale_locale_staffs_path(current_manager.locale_id), class:"btn btn-outline-dark btn-sm" %>
      <% end %>
      <%= link_to '勤怠追加', new_staff_work_path,remote: true, class:"btn btn-outline-success btn-sm" %>
      <div class="modal fade" id="worknew-modal" tabindex="-1" role="dialog" aria-labelledby="worknew-modalLabel" aria-hidden="true"></div>
    </div>
  </div>
</div>
<%= render 'search_form' %>
<div class="container">
  <div class="row">
  <h4 class="py-2">総労働時間<%= totalWorkTime(@works) %></h4>
  <h4 class="p-2">休憩合計 <%= totalWorkBreakTime(@works) %></h4>
  <h4 class="p-2">深夜帯合計 <%= midnightTotalTime(@works) %></h4>
    <div class="table-responsive table-hover">
      <table class="table text-nowrap">
        <thead class="thead-light">
          <tr>
            <th>場所</th>
            <th>出勤</th>
            <th>退勤</th>
            <th>休憩合計</th>
            <th>労働時間</th>
            <th>深夜帯</th>
            <th>勤怠修正</th>
          </tr>
        </thead>
        <tbody>
          <% @works.each do |work| %>
            <tr>
              <td><%= work.locale.locale_name %></td>
              <td><%= l work.in %></td>
              <td><%= l work.out %></td>
              <td><%= totalWorkBreak(work) %></td>
              <td><%= workingHours(work) %></td>
              <td><%= convertToTime(midnight(work.in,work.out)) %></td>
              <td><%= link_to '修正', staff_work_path(@staff.id,work.id), remote: true, class:"btn btn-outline-warning btn-sm" %></td>
              <div class="modal fade" id="work-modal" tabindex="-1" role="dialog" aria-labelledby="work-modalLabel" aria-hidden="true"></div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>