<div class="container">
  <div class="row">
    <div class="h5"><%= @locale.locale_name %></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>name</th>
          <th>出勤</th>
          <th>退勤</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @staff.family_name %>&ensp;<%= @staff.given_name %></td>
        <td><%= @work.in %></td>
        <td><%= @work.out %></td>
      </tbody>
    </table>
  </div>
</div>