<% if admin_signed_in? || manager_signed_in? %>
<div class="container">
  <div class="row">
    <div class="h2"><%= @locale.locale_name %></div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= link_to "戻る", admin_path(current_admin), class:"btn btn-outline-dark btn-sm" %>
      <%= link_to "所属スタッフ一覧", locale_locale_staffs_path(@locale), class:"btn btn-info btn-sm" %>
    </div>
  </div>
    <%= flash[:work_delete_result] %>
</div>
<%= render 'search_form' %>
<div class="container">
  <div class="row">
  <h4 class="py-2">勤怠時間合計<%= totalWorkTime(@works) %></h4>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>名前</th>
        <th>出勤</th>
        <th>退勤</th>
        <th>休憩時間</th>
        <th>労働時間</th>
        <th>勤怠詳細</th>
      </tr>
    </thead>
    <tbody>
      <% if @works.count == 0 %>
        <td>勤怠はありません</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <% @works.each do |work| %>
          <td><%= work.staff.family_name %><%= work.staff.given_name %></td>
          <% if work.out != nil %>
            <td><%= l work.in %></td>
            <td><%= l work.out %></td>
            <td><%= totalWorkBreak(work) %></td>
            <td><%= workingHours(work) %></td>
            <td><%= link_to '詳細', staff_work_path(work.staff_id,work.id),remote: true,class:"btn btn-outline-secondary btn-sm rounded"%></td>
            <div class="modal fade" id="work-modal" tabindex="-1" role="dialog" aria-labelledby="work-modalLabel" aria-hidden="true"></div>
          <% else %>
            <td><%= work.in %></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><%#= link_to '+', staff_work_path(work[:id]) %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% elsif signed_in? %>
  <%= render 'punch', locale: @locale %>
<% end %>