<div class="container">
  <h2>ロケール名：<%= @locale.locale_name %><%= @locale.admin_id %></h2>
  <%= link_to "ログアウト", logout_path, class: "btn btn-outline-danger", method: :delete %>
  <%= link_to "Staff追加", new_locale_staff_path(@locale.id), class: "btn btn-outline-info" %>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @staff.each do |f| %>
      <td><%= f.family_name %><%= f.given_name %></td>
      <td></td>
      <td></td>
      <% end %>
    </tbody>
  </table>
</div>