<% if admin_signed_in? || manager_signed_in? %>
<div class="container">
  <div class="row">
    <div class="h2"><%= @locale.locale_name %></div>
  </div>
  <div class="row">
    <%= link_to "Staff追加", new_locale_staff_path(@locale.id), class: "btn btn-outline-info mb-3" %>
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>出勤</th>
        <th>退勤</th>
        <th>休憩時間</th>
        <th>労働時間</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% if @staffs.count == 0 %>
        <td>所属スタッフはいません</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <% @works.each do |work| %>
          <% staff = @staffs.find_by(id: work.staff_id) %>
          <td><%= staff.family_name %><%= staff.given_name %></td>
          <% if work.out != nil %>
            <td><%= timeFormat(work.in) %></td>
            <td><%= timeFormat(work.out) %></td>
            <td><%= totalWorkBreak(work) %></td>
            <% breaks = totalWorkBreak(work) %>
            <td><%= workingHours(work) %></td>
            <td><%= link_to '+', staff_work_path(staff.id,work.id) %></td>
          <% else %>
            <td><%= work.in %></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><%= link_to '+', staff_work_path(work[:id]) %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% elsif signed_in? %>
  <%= render 'punch', locale: @locale %>
<% end %>