<% if admin_signed_in? || manager_signed_in? %>
<div class="container">
  <div class="row">
    <div class="h2"><%= @locale.locale_name %> admin_id:<%= @locale.admin_id %></div>
  </div>
  <div class="row">
    <%= link_to "Staff追加", new_locale_staff_path(@locale.id), class: "btn btn-outline-info mb-3" %>
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>出勤</th>
        <th>退勤</th>
        <th>休憩時間</th>
        <th>労働時間</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% if @staffs.count == 0 %>
        <td>所属スタッフはいません</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <% @works.each do |work| %>
          <% staff = @staffs.find_by(id: work.staff_id) %>
          <td><%= staff.family_name %><%= staff.given_name %></td>
          <% if work.out != nil %>
            <td><%= work.in.strftime("%Y年%m月%d日 %-H:%M:%S") %></td>
            <td><%= work.out.strftime("%Y年%m月%d日 %-H:%M:%S") %></td>
            <td><%= total_work_break(work) %></td>
            <% breaks = total_work_break(work) %>
            <td><%= working_hours(work) %></td>
            <td><%= link_to '+', "#" %></td>
          <% else %>
            <td><%= work.in %></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><%= link_to '+', "#" %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% elsif signed_in? %>
  <%= render 'punch', locale: @locale %>
<% end %>