<div class="row justify-content-center mt-5">
  <div class="card" style="width:20rem;">
    <div class="card-header">
      <h2 class="text-center">管理者ログイン</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-info" %>
        </div>
        <%= render "admins/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
