<div class="conteiner" style="background-color:#f5f5f5; height:550px;">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="text-center mt-3">管理者ログイン</h2>
      <form class="justify-content-center px-md-5 px-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-info form-control" %>
        </div>
        <%= render "admins/shared/links" %>
      <% end %>
      </form>
    </div>
  </div>
</div>
