<!DOCTYPE html>
<html>
  <head>
    <title>QR-Time-Card-ver2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('QR.ico') %>
  </head>
  <body style="padding-top: 4rem;">
    <header>
      <nav class="navbar fixed-top main-color">
        <% if admin_signed_in? || manager_signed_in? %>
          <% if admin_signed_in? %>
            <span class="navbar-brand mb-0 h1"><%= link_to "#{current_admin.company_name}", admin_path(current_admin) %></span>
          <% else %>
            <span class="navbar-brand mb-0 h1">QR Time card</span>
          <% end %>
        <% else %>
          <span class="navbar-brand mb-0 h1">QR Time card</span>
        <% end %>
        <div class="nav-item">
          <% if admin_signed_in? || manager_signed_in? %>
            <% if admin_signed_in? %>
              <%= link_to "管理者ログアウト", destroy_admin_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% else %>
              <%= link_to "マネージャーログアウト", destroy_manager_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% end %>
          <% elsif signed_in? %>
            <%= link_to "勤務地ログアウト", logout_path, class: "btn btn-outline-dark", method: :delete %>
          <% else %>
            <div class="form-inline">
              <%= link_to "新規登録", new_admin_registration_path, class: "btn btn-outline-dark btn-sm nav-item mr-2" %>
              <div class="dropdown">
                <button type="button" id="loginManu"class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ログイン
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginManu">
                  <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-item btn btn-outline-dark dropdown-item" %>
                  <%= link_to "マネージャーログイン", manager_session_path, class: "nav-item btn btn-outline-dark dropdown-item" %>
                  <%= link_to "勤務地ログイン", login_path, class: "nav-item btn btn-outline-dark dropdown-item" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container-fluid mb-5">
      <%= yield %>
    </div>
    <footer class="fixed-bottom main-color">
      <div class="container">
        <div class="row">
          <span class="text-monospace m-2">QR-TimeCard</span>
        </div>
      </div>
    </footer>
    <script>
      //時間の表示
      if(document.getElementById('clock') != null){
        setInterval(() => {
        const date = new Date();
        const h = String("0" + date.getHours()).slice(-2);
        const m = String("0" + date.getMinutes()).slice(-2);
        const s = String("0" + date.getSeconds()).slice(-2);
        document.querySelector('#clock').innerHTML = `${h}:${m}:${s}`;
      })};
      //年月日の表示
      if(document.getElementById('today') != null){
      const date = new Date();
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      const week = date.getDay();
      const dayList = ['日', '月', '火', '水', '木', '金', '土'];
      const weekLabel = dayList[week];
      document.querySelector('#today').innerHTML = `${year}年 ${month}月 ${day}日 (${weekLabel})`;
      };
    </script>
  </body>
</html>
