<!DOCTYPE html>
<html>
  <head>
    <title>QR-Time-Card-ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar sticky-top" style="background-color:#ff8e00;">
        <% if admin_signed_in? %>
          <%= link_to "#{current_admin.company_name}", admin_path(current_admin) %>
        <% else %>
          <p>Kintaiくん</p>
        <% end %>
        </a>
        <div class="nav-item">
          <% if admin_signed_in? || manager_signed_in? %>
            <% if admin_signed_in? %>
              <%= link_to "管理者ログアウト", destroy_admin_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% else %>
              <%= link_to "managerログアウト", destroy_manager_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% end %>
          <% else %>
            <%= link_to "管理者登録", new_admin_registration_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "managerログイン", manager_session_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "localeログイン", login_path, class: "nav-item btn btn-outline-dark" %>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="fixed-bottom" style="background-color:#ff8e00">
      <div class="container mt-2">
        <div class="row">
          <span class="text-monospace m-2">QR-TimeCard</span>
        </div>
      </div>
    </footer>
  </body>
</html>
