<!DOCTYPE html>
<html>
  <head>
    <title>QR-Time-Card-ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar sticky-top" style="background-color:#ff8e00;">
        <% if admin_signed_in? || manager_signed_in? %>
          <% if admin_signed_in? %>
            <%= link_to "#{current_admin.company_name}", admin_path(current_admin) %>
          <% else %>
            <%= link_to "#{@admin.company_name}" %>
          <% end %>
        <% else %>
          <p>Kintaiくん</p>
        <% end %>
        <div class="nav-item">
          <% if admin_signed_in? || manager_signed_in? %>
            <% if admin_signed_in? %>
              <%= link_to "管理者ログアウト", destroy_admin_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% else %>
              <%= link_to "#{@manager.family_name}#{@manager.given_name}", class: "nav-item" %>
              <%= link_to "managerログアウト", destroy_manager_session_path, class: "nav-item btn btn-outline-dark", method: :delete %>
            <% end %>
          <% elsif signed_in? %>
            <%= link_to "ログアウト", logout_path, class: "btn btn-outline-danger", method: :delete %>
          <% else %>
            <%= link_to "管理者登録", new_admin_registration_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "managerログイン", manager_session_path, class: "nav-item btn btn-outline-dark" %>
            <%= link_to "localeログイン", login_path, class: "nav-item btn btn-outline-dark" %>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <footer class="fixed-bottom" style="background-color:#ff8e00">
      <div class="container mt-2">
        <div class="row">
          <span class="text-monospace m-2">QR-TimeCard</span>
        </div>
      </div>
    </footer>
    <script>
      //時間の表示
      if(document.getElementById('clock') != null){
        setInterval(() => {
        const date = new Date();
        const h = String("0" + date.getHours()).slice(-2);
        const m = String("0" + date.getMinutes()).slice(-2);
        const s = String("0" + date.getSeconds()).slice(-2);
        document.querySelector('#clock').innerHTML = `${h}:${m}:${s}`;
      })};
      //年月日の表示
      if(document.getElementById('today') != null){
      const date = new Date();
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      const week = date.getDay();
      const dayList = ['日', '月', '火', '水', '木', '金', '土'];
      const weekLabel = dayList[week];
      document.querySelector('#today').innerHTML = `${year}年 ${month}月 ${day}日 (${weekLabel})`;
      };
    </script>
  </body>
</html>
